body {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr;
    margin: 16px;
    justify-items: center;
}

canvas {
    width: 512px;
    height: 256px;
    border: 1px solid black;
    grid-column: span 2;
    image-rendering: crisp-edges;
}

#left {
    justify-self: right;
    padding-right: 13px;
    display: flex;
}

#right {
    justify-self: left;
    padding-left: 13px;
    display: flex;
}

input {
    width: calc(512 / 95 * 7px);
    padding-right: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}